.flexbox{
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
    flex-direction: row;
}

.blue{
    background-color: aqua;
    height: 250px;
    width: 250px;
    border: 2px solid black;
    position: relative;
}

#red1{
    background-color: red;
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

#red2{
    background-color: red;
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.green{
    background-color: lawngreen;
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 2px solid black;
}

.black{
    background-color: black;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}