.blue{
    background-color: lightblue;
    height: 400px;
    width: 200px;
    position: relative;
    top: 40px;
    left: 40px;
    border: 2px solid black;
}

.black{
    background-color: black;
    height: 40px;
    width: 40px;
    position: relative;
    top: -10px;
    left: -10px;
    border: 2px solid black;
}

.green{
    background-color: lawngreen;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.flexbox{
    border: 2px solid black;
    display: flex;
    border-style: solid;
    bottom: 0px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
    align-items: center;
}

.box{
    background-color: lawngreen;
    height: 20px;
    width: 40px;
    margin: 5px;
    border: 2px solid black;
}